@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-card: #0f0f0f;

  /* Primary */
  --color-primary-100: #a78bfa;
  --color-primary-200: #8b5cf6;
  --color-primary-300: #7c3aed;

  /* Neutral */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;

  /* Additional */
  --color-purple-400: #a78bfa;
  --color-purple-500: #8b5cf6;
  --color-purple-600: #7c3aed;
  --color-pink-600: #db2777;
  --color-cyan-500: #06b6d4;
  --color-green-500: #22c55e;
  --color-yellow-500: #eab308;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

